@charset "EUC-KR";

body {
	display: block;
	margin: 0 auto;
	background-color: #ffffff;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

#cart_wrap {
	max-width: 1000px;
	margin: auto;
	margin-top: 70px;
	width: 100%;
}

/* #cart_keyimg {
	margin-top: 10px;
	height: 200px;
	width: 1000px;
	line-height: 200px;
	text-align: center;
	background-color: #59a456;
} */

#key {
	margin: 0 auto;
	width: 100%;
	/* border-bottom: solid 1px #ccc; */
	/* border-top: solid 1px #ccc; */
}

.key_con01 {
	/* margin-top: 20px;
	margin-bottom: 5px;
	font-size: 35px;
	font-weight: bold;
	font-family: NanumBarunGothic YetHangul; */
	font-family: KoreanDDDR;
	font-size: 50px;
	color: #46ac03;
	text-align: left;
	border-bottom: 1px solid #46ac03;
	margin-bottom: 10px;
}

.key_con02 {
	margin-bottom: 5px;
	font-size: 16px;
	/* font-weight: bold; */
	color: #4e4e4e;
	font-family: NanumBarunGothic YetHangul;
	letter-spacing: 1px;
	padding-left: 5px;
}

/* =============================cart_table01 부분========================= */

#cart_table01 {
	width: 100%;
	margin: 0 auto;
	margin-top: 80px;
}

table {
	border-collapse: collapse;
}

#table_line01 {
	width: 100%;
	border-top: 1px solid #82cf2c;
	border-bottom: 1px solid #82cf2c;
}

.table01_Ctd01 {
	width: 155px;
	height: 60px;
	text-align: center;
	font-size: 11pt;
	font-family: NanumBarunGothic YetHangul;
	border-bottom: 1px solid #d7d7d7;
}

.table01_Ctd02 {
	width: 130px;
	height: 60px;
	text-align: center;
	font-size: 11pt;
	font-family: NanumBarunGothic YetHangul;
	border-bottom: 1px solid #d7d7d7;
}

.table01_Ctd03 {
	width: 130px;
	height: 60px;
	text-align: center;
	font-size: 11pt;
	font-family: NanumBarunGothic YetHangul;
	border-bottom: 1px solid #d7d7d7;
}

.table01_Ctd04 {
	width: 130px;
	height: 60px;
	text-align: center;
	font-size: 11pt;
	font-family: NanumBarunGothic YetHangul;
	border-bottom: 1px solid #d7d7d7;
}

.table01_Ctd05 {
	width: 130px;
	height: 60px;
	text-align: center;
	font-size: 11pt;
	font-family: NanumBarunGothic YetHangul;
	border-bottom: 1px solid #d7d7d7;
}

.table01_Ctd06 {
	width: 130px;
	height: 60px;
	text-align: center;
	font-size: 11pt;
	font-family: NanumBarunGothic YetHangul;
	border-bottom: 1px solid #d7d7d7;
}

.table01_Ctd07 {
	/* width: 130px; */
	height: 170px;
	text-align: center;
	font-size: 11pt;
	font-family: NanumBarunGothic YetHangul;
	border-bottom: 1px solid #d7d7d7;
}

/* =============================cart_table02 부분========================= */

#cart_table02 {
	width: 100%;
	margin: 0 auto;
	margin-top: 80px;
}

/* ==============================cart_con01 부분============================== */

#cart_con01 {
	width: 100%;
	margin: 0 auto;
	margin-top: 30px;
}

.Ccon01_text01 {
	font-size: 11pt;
	font-family: NanumBarunGothic YetHangul;
	margin-left: 25px;
}

.Ccon01_text02 {
	font-size: 8pt;
	font-family: NanumBarunGothic YetHangul;
	color: #598e1f;
	padding:10px 27px;
	border: 1px solid #598e1f;
	margin-left: 17px;
}

.Ccon01_text03 {
	font-size: 8pt;
	font-family: NanumBarunGothic YetHangul;
	color: #598e1f;
	padding:10px 20px;
	border: 1px solid #598e1f;
	margin-left: 17px;
}

/* ==============================cart_con02 부분============================== */

#cart_con02 {
	width: 718px;
	margin: 0 auto;
	margin-top: 100px;
}

#cart_con02 ul {
	list-style-type: none;
	padding: 0px;
}

#cart_con02 ul li {
	float: left;
}

.Ccon2_box01 {
	border: 2px solid #d7d7d7;
	width: 150px;
	height: 119px;
	line-height: 40px;
	text-align: center;
}

.Cbox01_text03 {
	margin-top: 18px;
	font-size: 10pt;
	font-family: NanumBarunGothic YetHangul;
	color: #787777;
}

.Cbox01_text04 {
	font-size: 11pt;
	font-family: NanumBarunGothic YetHangul;
	color: #232323;
}

.Cbox01_text05 {
	font-family: NanumBarunGothic YetHangul;
	color: #787777;
	width: 34px;
	line-height: 121px;
	text-align: center;
	font-weight: 400;
}

/* ==============================cart_con03 부분============================== */

#cart_con03 {
	margin-top: 100px;
	margin-bottom: 150px;
	text-align: center;
	/* padding: 2px;
	border: 1px solid #cccccc; */
	/* text-decoration: none; */
}

/* .cart_a {
	text-decoration: none;
} */

.btn_cart01 {
	width: 162px;
	height: 52px;
	background-color: #ffffff;
	border: 1px solid #cccccc;
	font-size: 13px;
	color: #787777;
	font-weight: bold;
	margin-left: 8px;
}

.btn_cart02 {
	width: 162px;
	height: 52px;
	background-color: #ffffff;
	border: 1px solid #cccccc;
	font-size: 13px;
	color: #787777;
	font-weight: bold;
	margin-left: 8px;
}

.btn_cart03 {
	width: 162px;
	height: 52px;
	background-color: #82cf2c;
	border: 1px solid #82cf2c;
	font-size: 13px;
	color: #ffffff;
	font-weight: bold;
	margin-left: 8px;
}

/* ==============================vPcon03_text03 부분============================== */

#vPtext03_content {
	height: 333px;
	width: 100%;
	border: 1px solid #ccc;
}


#vPtext04_title01 {
	width: 600px;
	height: 50px;
}

#vPtext04_title01 ul {
	list-style-type: none;
}

#vPtext04_title01 ul li {
	float: left
}

#clear {
	clear: both;
}

