@charset "EUC-KR";

#footer {
	margin: 0 auto;
	width: 100%;
	height: 340px;
	background-color: #ebebeb;
}

.footer_text {
	/* 전체 글자 스타일 정하기 */
	color: #727672;
	font-size: 11px;
}

#foot_con01 {
	margin: auto;
	width: 1040px;
	text-align: right;
	padding-top: 15px;
	padding-bottom: 15px;
	border-bottom: 1px solid #989b98;
	font-family: NanumSquareRound;
	font-weight: 700;
	color: #989b98
}

#foot_con01 a {
	color: #989b98;
}

#foot_con01 a:hover {
	color: #989b98;
}

#foot_content {
	margin: auto;
	width: 1040px;
}

/*  */

#foot_con02 {
	float: left;
	/* border: 0.18px solid #989b98; */
	margin-top: 45px;
	margin-left: 130px;
	/* padding-top: 15px;
	padding-bottom: 15px;
	padding-right: 75px;
	padding-left: 20px; */
}

.foot_text01 {
	font-family: NanumSquareRound;
	color: #000000;
	font-size: 20px;
	font-weight: 600;
}

.foot_text02 {
	font-family: NanumSquareRound;
	color: #48a938;
	font-size: 26px;
	font-weight: 600;
}

.foot_text03 {
	font-family: NanumSquareRound;
	color: #6d6d6d;
	font-size: 13px;
	font-weight: 700;
}

.foot_text04 {
	font-family: NanumSquareRound;
	color: #989b98;
	font-size: 14px;
	font-weight: 700;
	border: 1px solid #989b98;
	padding: 11px 26px;
	line-height: 5;
	margin-right: 7px;
}




/* .foot_text01 {
	font-weight: bold;
	line-height: 1.5; 줄간격 스타일
	font-size: 13px;
} */

/*  */


#foot_con03 {
	float: right;
	margin-top: 45px;
	margin-right: 130px;
	font-family: NanumSquareRound;
}

#foot_con03_area01 {
	color: #989b98;
	line-height: 1.3;
}

#foot_con03_area02 {
	color: #868985;
	font-weight: 600;
}

#foot_con03 ul {
	list-style-type: none;
	padding-left: 0px;
	
}

#foot_con03 ul li {
	float: left;
	padding-left: 0px;
	padding-right: 50px;
}

.ul_li00 {
	line-height: 2;
}

.ul_li01 {
	line-height: 1.5;
}

/*  */

#clear {
	clear: both;
}

#foot_con04 {
	text-align: center;
	/* padding-top: 10px; */
}

#foot_con04 ul {
	list-style-type: none;
	padding-left: 0px;
}

.li01 {
	text-align: center;
	padding-top: 19px;
	padding-left: 390px;
	padding-right: 220px;
}

#foot_con04 ul li {
	float: left;
/* 	padding-left: 5px;
	padding-right: 5px; */
}

.li02 {
	padding-left: 5px;
	padding-right: 5px;	
}


